.grid

	each item in row
		.grid-item(class='#{item.genre1}')
			a.thumbnail(href='/movie/#{item.url}' ,grene1 = '#{item.genre1}',grene2 = '#{item.genre2}',grene3 = '#{item.genre3}',data-toggle='modal' data-target='#myModal')
				img(src='#{item.imgpath}')



