.modal-header
    button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true') ×
    h4#myModalLabel.modal-title Movie Information
    .modal-body
        .container-fluid
            .row
                h2 #{row.name}
                .col-md-8

                    h4 제작년도 : (#{row.year})
                    h4 등급 : #{row.grade_name}
                    h4 국가 : #{row.contry_name}
                .col-md-4
                    a.thumbnail
                        img(src="/images/Poster/#{row.code}.jpg")
            .row
                .actors
                  each item in actors
                      .actor.col-md-2.col-xs-6.col-sm-6
                          a.thumbnail
                               img(src="/images/Actors/#{item.code}.jpg")
                             h6 #{item.name}
    .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close

