.modal-header#movieheader
    button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true') ×
    h4#myModalLabel.modal-title Movie Information
    .modal-body#modalTest
        .container-fluid
            .row
                h2 #{row.name}
                h5 (#{row.code})
                .col-md-8

                    h4 개봉일자 : #{row.open_date}
                    h4 등급 : #{row.grade_name}
                    h4 국가 : #{row.contry_name}
                    h4 스토리 : 
                    h5 #{row.story}
                .col-md-4
                    a.thumbnail
                        img(src="/images/movie/Poster/#{row.code}.jpg")
            .row
                .actors
                  each item in actors
                      .actor.col-md-2.col-xs-4.col-sm-4
                          a.thumbnail
                               img(src="/images/movie/Actors/#{item.code}.jpg")
                             h6 #{item.name}
            
            h3 관람평     
            -if(replay)
                #replays                
                each i in replay
                    h5 #{i.user_id} : #{i.content}


            -if(name)
                form#replayForm
                    .row
                        .col-md-10.col-xs-10
                            .form-group
                                textarea#tesa.form-control(name='content' rows='2' required='' cvrqerrmsg='내용이 필요합니다.')
                        .col-md-1.col-xs-1
                            h6 글자 수
                            h6#textareaCount
                        .col-md-1.col-xs-1
                            button.btn.btn-primary(type='submit') 등록
            
    .modal-footer
        button.btn.btn-primary(type='button', data-dismiss='modal') Close


script(type='text/javascript').
     $("#tesa").keyup(function(){
      var inputLengeth = $(this).val().length;
      $('#textareaCount').html(inputLengeth);
        });
      $('#replayForm').on('submit', function (e) {
        e.preventDefault();
        
        var $replay_content = $('#tesa').val();
        var formData = {
           content : $replay_content
        };
         $.ajax({
            type: "POST",
            url: "/api/replay",
            cache: false,
            data: formData,
            success: test,
            error : test2
        });
      });
      function test(data){
            var text = document.createElement('h5');
            var replays = document.getElementById('replays');
            var inputLengeth = $('#tesa');
            //- var position = sessionStorage.getItem('passport');
            text.innerHTML = data.id + ' : ' + inputLengeth.val();
            replays.appendChild(text);
            alert("replay 입력 완료");
      };
      
      function test2(){
        alert("이미 영화평을 입력하셨습니다.");
      };
     